@import url("./root.css");

@page colophon:right {
    @top-right {
        margin-top: 10px;
        content: env(doc-title);
        font-size: var(--font-size-small);
    }
}
@page colophon:left {
    @top-left {
        margin-top: 10px;
        content: env(pub-title);
        font-size: var(--font-size-small);
    }
}

body:has(nav[role='doc-colophon']) {
    page: colophon;
    flex-direction: column;
    min-height: 100vh;  
}

body:has(nav[role='doc-colophon']) .okuduke {
    position: absolute;
    width: 100%;
    bottom: 0px;
    font-size: 0.9rem;
}

body:has(nav[role='doc-colophon']) .okuduke p {
    margin: 0.2em 0;
}

body:has(nav[role='doc-colophon']) .author {
    display: block;
    margin: 1em 0;
    break-inside: avoid;
}

body:has(nav[role='doc-colophon']) .circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;      
    display: inline-block; 
    vertical-align: middle;
}
  
body:has(nav[role='doc-colophon']) .circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;      
}

body:has(nav[role='doc-colophon']) .info {
    display: inline-block;
    vertical-align: middle;
    margin-left: 0.8em;
    max-width: 325px;
}
  
  body:has(nav[role='doc-colophon']) .name {
    font-weight: bold;
    margin: 0;
}
  
body:has(nav[role='doc-colophon']) .desc {
    margin: 0.2em 0 0;
    font-size: 0.9em;
    color: black;
}

body:has(nav[role='doc-colophon']) .page-break {
    break-before: page; 
  }